<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-campaign-social-component-heading">Create or edit a Campaign Social Component</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!campaignSocialComponent.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_caption">Caption</label>
                    <input type="text" class="form-control" name="caption" id="field_caption"
                           formControlName="caption"/>
                    <div *ngIf="editForm.get('caption').invalid && (editForm.get('caption').dirty || editForm.get('caption').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('caption').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_influencer">Influencer</label>
                    <input type="text" class="form-control" name="influencer" id="field_influencer"
                           formControlName="influencer"/>
                    <div *ngIf="editForm.get('influencer').invalid && (editForm.get('influencer').dirty || editForm.get('influencer').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('influencer').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_imageFileUrl">Image File Url</label>
                    <input type="text" class="form-control" name="imageFileUrl" id="field_imageFileUrl"
                           formControlName="imageFileUrl"/>
                    <div *ngIf="editForm.get('imageFileUrl').invalid && (editForm.get('imageFileUrl').dirty || editForm.get('imageFileUrl').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('imageFileUrl').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_campaign">Campaign</label>
                    <select class="form-control" id="field_campaign" name="campaign" formControlName="campaignId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="campaignOption.id" *ngFor="let campaignOption of campaigns; trackBy: trackCampaignById">{{campaignOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
