<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="answer">
            <h2><span>Answer</span> {{answer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Answer</span></dt>
                <dd>
                    <span>{{answer.answer}}</span>
                </dd>
                <dt><span>Sub Question Id</span></dt>
                <dd>
                    <span>{{answer.subQuestionId}}</span>
                </dd>
                <dt><span>Respondent</span></dt>
                <dd>
                    <div *ngIf="answer.respondentId">
                        <a [routerLink]="['/respondent', answer.respondentId, 'view']">{{answer.respondentId}}</a>
                    </div>
                </dd>
                <dt><span>Campaign</span></dt>
                <dd>
                    <div *ngIf="answer.campaignId">
                        <a [routerLink]="['/campaign', answer.campaignId, 'view']">{{answer.campaignId}}</a>
                    </div>
                </dd>
                <dt><span>Question</span></dt>
                <dd>
                    <div *ngIf="answer.questionId">
                        <a [routerLink]="['/question', answer.questionId, 'view']">{{answer.questionId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/answer', answer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
