<div>
    <h2 id="page-heading">
        <span>Answers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-answer" [routerLink]="['/answer/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Answer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="answers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Answer</span></th>
            <th><span>Sub Question Id</span></th>
            <th><span>Respondent</span></th>
            <th><span>Campaign</span></th>
            <th><span>Question</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let answer of answers ;trackBy: trackId">
                <td><a [routerLink]="['/answer', answer.id, 'view' ]">{{answer.id}}</a></td>
                <td>{{answer.answer}}</td>
                <td>{{answer.subQuestionId}}</td>
                <td>
                    <div *ngIf="answer.respondentId">
                        <a [routerLink]="['../respondent', answer.respondentId , 'view' ]" >{{answer.respondentId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="answer.campaignId">
                        <a [routerLink]="['../campaign', answer.campaignId , 'view' ]" >{{answer.campaignId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="answer.questionId">
                        <a [routerLink]="['../question', answer.questionId , 'view' ]" >{{answer.questionId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/answer', answer.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/answer', answer.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'answer', { outlets: { popup: answer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
