<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-campaign-heading">Create or edit a Campaign</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!campaign.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_uuid">Uuid</label>
                    <input type="text" class="form-control" name="uuid" id="field_uuid"
                           formControlName="uuid"/>
                    <div *ngIf="editForm.get('uuid').invalid && (editForm.get('uuid').dirty || editForm.get('uuid').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('uuid').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_category">Category</label>
                    <input type="text" class="form-control" name="category" id="field_category"
                           formControlName="category"/>
                    <div *ngIf="editForm.get('category').invalid && (editForm.get('category').dirty || editForm.get('category').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('category').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_activity">Activity</label>
                    <input type="text" class="form-control" name="activity" id="field_activity"
                           formControlName="activity"/>
                    <div *ngIf="editForm.get('activity').invalid && (editForm.get('activity').dirty || editForm.get('activity').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('activity').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_projectName">Project Name</label>
                    <input type="text" class="form-control" name="projectName" id="field_projectName"
                           formControlName="projectName"/>
                    <div *ngIf="editForm.get('projectName').invalid && (editForm.get('projectName').dirty || editForm.get('projectName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('projectName').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_projectDetails">Project Details</label>
                    <input type="text" class="form-control" name="projectDetails" id="field_projectDetails"
                           formControlName="projectDetails"/>
                    <div *ngIf="editForm.get('projectDetails').invalid && (editForm.get('projectDetails').dirty || editForm.get('projectDetails').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('projectDetails').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_brandFirstTrait">Brand First Trait</label>
                    <input type="text" class="form-control" name="brandFirstTrait" id="field_brandFirstTrait"
                           formControlName="brandFirstTrait"/>
                    <div *ngIf="editForm.get('brandFirstTrait').invalid && (editForm.get('brandFirstTrait').dirty || editForm.get('brandFirstTrait').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('brandFirstTrait').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_brandSecondTrait">Brand Second Trait</label>
                    <input type="text" class="form-control" name="brandSecondTrait" id="field_brandSecondTrait"
                           formControlName="brandSecondTrait"/>
                    <div *ngIf="editForm.get('brandSecondTrait').invalid && (editForm.get('brandSecondTrait').dirty || editForm.get('brandSecondTrait').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('brandSecondTrait').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_brandThirdTrait">Brand Third Trait</label>
                    <input type="text" class="form-control" name="brandThirdTrait" id="field_brandThirdTrait"
                           formControlName="brandThirdTrait"/>
                    <div *ngIf="editForm.get('brandThirdTrait').invalid && (editForm.get('brandThirdTrait').dirty || editForm.get('brandThirdTrait').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('brandThirdTrait').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_brandGoals">Brand Goals</label>
                    <input type="text" class="form-control" name="brandGoals" id="field_brandGoals"
                           formControlName="brandGoals"/>
                    <div *ngIf="editForm.get('brandGoals').invalid && (editForm.get('brandGoals').dirty || editForm.get('brandGoals').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('brandGoals').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sample">Sample</label>
                    <input type="text" class="form-control" name="sample" id="field_sample"
                           formControlName="sample"/>
                    <div *ngIf="editForm.get('sample').invalid && (editForm.get('sample').dirty || editForm.get('sample').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sample').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_instagramAudienceDescription">Instagram Audience Description</label>
                    <input type="text" class="form-control" name="instagramAudienceDescription" id="field_instagramAudienceDescription"
                           formControlName="instagramAudienceDescription"/>
                    <div *ngIf="editForm.get('instagramAudienceDescription').invalid && (editForm.get('instagramAudienceDescription').dirty || editForm.get('instagramAudienceDescription').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('instagramAudienceDescription').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
