<div>
    <h2 id="page-heading">
        <span>Campaigns</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-campaign" [routerLink]="['/campaign/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Campaign
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="campaigns">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Uuid</span></th>
            <th><span>Category</span></th>
            <th><span>Activity</span></th>
            <th><span>Project Name</span></th>
            <th><span>Project Details</span></th>
            <th><span>Brand First Trait</span></th>
            <th><span>Brand Second Trait</span></th>
            <th><span>Brand Third Trait</span></th>
            <th><span>Brand Goals</span></th>
            <th><span>Sample</span></th>
            <th><span>Instagram Audience Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campaign of campaigns ;trackBy: trackId">
                <td><a [routerLink]="['/campaign', campaign.id, 'view' ]">{{campaign.id}}</a></td>
                <td>{{campaign.uuid}}</td>
                <td>{{campaign.category}}</td>
                <td>{{campaign.activity}}</td>
                <td>{{campaign.projectName}}</td>
                <td>{{campaign.projectDetails}}</td>
                <td>{{campaign.brandFirstTrait}}</td>
                <td>{{campaign.brandSecondTrait}}</td>
                <td>{{campaign.brandThirdTrait}}</td>
                <td>{{campaign.brandGoals}}</td>
                <td>{{campaign.sample}}</td>
                <td>{{campaign.instagramAudienceDescription}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/campaign', campaign.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/campaign', campaign.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'campaign', { outlets: { popup: campaign.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
