<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="respondent">
            <h2><span>Respondent</span> {{respondent.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Uuid</span></dt>
                <dd>
                    <span>{{respondent.uuid}}</span>
                </dd>
                <dt><span>User Type</span></dt>
                <dd>
                    <span>{{respondent.userType}}</span>
                </dd>
                <dt><span>Is Video Recorded</span></dt>
                <dd>
                    <span>{{respondent.isVideoRecorded}}</span>
                </dd>
                <dt><span>Campaign</span></dt>
                <dd>
                    <div *ngIf="respondent.campaignId">
                        <a [routerLink]="['/campaign', respondent.campaignId, 'view']">{{respondent.campaignId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/respondent', respondent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
