<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="campaignCompBrand">
            <h2><span>Campaign Comp Brand</span> {{campaignCompBrand.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Comp Brand Name</span></dt>
                <dd>
                    <span>{{campaignCompBrand.compBrandName}}</span>
                </dd>
                <dt><span>Image File Url</span></dt>
                <dd>
                    <span>{{campaignCompBrand.imageFileUrl}}</span>
                </dd>
                <dt><span>Campaign</span></dt>
                <dd>
                    <div *ngIf="campaignCompBrand.campaignId">
                        <a [routerLink]="['/campaign', campaignCompBrand.campaignId, 'view']">{{campaignCompBrand.campaignId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/campaign-comp-brand', campaignCompBrand.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
